<h2 class="mb-3">Product Details</h2>

@if (product) {
  <div class="card shadow-sm">
    <div class="card-body">

      <h5 class="card-title">{{ product.name }}</h5>

      <p class="card-text">
        <strong>Description:</strong><br>
        {{ product.description }}
      </p>

      <p class="card-text">
        <strong>Price:</strong>
        {{ product.price | currency }}
      </p>

      <p class="card-text">
        <strong>Quantity:</strong>
        {{ product.quantity }}
      </p>

      <p class="card-text">
        <strong>Created:</strong>
        {{ product.createdAt | date:'medium' }}
      </p>

      <div class="mt-3 d-flex gap-2">
        <button class="btn btn-warning" (click)="edit()">
          Edit
        </button>

        <button class="btn btn-secondary" (click)="back()">
          Back
        </button>
      </div>

    </div>
  </div>
}
